{% extends 'base.html' %}

{% block content %}
<h1 class="text-muted headers-padding">{{ team.name }}</h1>
    <hr class="divider mt-0">
    <div class="headers-padding" style="padding-right: 15px;">

        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div role="alert" class="{{ category }}">{{ message }}</div>
        {% endfor %}

    </div>
    <div class="container-fluid">
    <div class="row ">
        <div class="col-auto py-0 my-0">
            <i class="bi bi-diagram-3-fill" style=" font-size: 100px;"></i>
        </div>
        <div class="col-auto">
        <p>Zwycięstwa: {{team_stats.wins}}</p>
        <p>Remisy: {{team_stats.draws}}</p>
        <p>Przegrane: {{team_stats.loses}}</p>
        <p>Rozegrane mecze: {{team_stats.games_played}}</p>
        <p>Liczba piłkarzy: {{number_of_players}}</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 col-md-4 border-end historyField border-top ">
            <h4 class="text-muted headers-padding"> Aktualny skład </h1>
            {% for player in actual_players %}
                <p>{{player.last_name}} {{player.position|safe}}</p>
            {% endfor %}
        </div>
        <div class="col-12 col-md-4 border-end historyField border-top">
            <h4 class="text-muted headers-padding"> Historia transferów </h1>
            {% for player in players_history %}
                <p>{{player.date}} {{player.last_name|safe}}</p>
            {% endfor %}
        </div>
        <div class="col-12 col-md-4 border-top">
            <h4 class="text-muted headers-padding "> Historia meczy </h1>
                {% for game in games_history %}
                    <p>{{game.date}} {{game.games}} {{game.test}}</p>
                {% endfor %}
        </div>
    </div>
    </div>
{% endblock  %}



{% block script %}
    <script>
        document.getElementById('club_collapse').classList.add('show');
        document.getElementById('club_collapse_btn').setAttribute('aria-expanded', 'true');
        document.getElementById('club_collapse_btn').setAttribute('style', 'color:white !important');
    </script>
{% endblock %}