{% extends 'base.html' %}

{% block content %}
<h1 class="text-muted headers-padding">{{ footballer.last_name }}</h1>
    <hr class="divider mt-0">
    <div class="headers-padding" style="padding-right: 15px;">

        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div role="alert" class="{{ category }}">{{ message }}</div>
        {% endfor %}

    </div>
    <div class="container-fluid">
    <div class="row ">
        <div class="col-auto py-0 my-0">
            <i class="bi bi-file-person" style=" font-size: 100px;"></i>
        </div>
        <div class="col-auto">
        <p>{{footballer.team}}</p>
        <p>{{footballer.position}}</p>
        {% for action, counted in actions.items() %}
            <p>{{action}}: {{counted}}</p>
        {% endfor %}
        </div>
    </div>
    <div class="row ">
        <div class="col-12 col-md-4 border-end historyField border-top ">
            <h4 class="text-muted headers-padding"> Historia klubów </h1>
            {% for club in clubs %}
                <p>{{club.dateFrom}} {{ club.club_name }}</p>
            {% endfor %}
        </div>
        <div class="col-12 col-md-4 border-end historyField border-top">
            <h4 class="text-muted headers-padding"> Historia pozycji </h1>
            {% for position in positions %}
                <p>{{position.date}} {{position.position}}</p>
            {% endfor %}
        </div>
        <div class="col-12 col-md-4 border-top">
            <h4 class="text-muted headers-padding "> Historia meczy </h1>
                {% for match in matches %}
                    <p>{{match.date}} {{match.game}} <br> {{match.akcje|safe}}</p>
                {% endfor %}
        </div>
    </div>
    </div>
{% endblock  %}



{% block script %}
    <script>
        document.getElementById('ft_collapse').classList.add('show');
        document.getElementById('ft_collapse_btn').setAttribute('aria-expanded', 'true');
        document.getElementById('ft_collapse_btn').setAttribute('style', 'color:white !important');
    </script>
{% endblock %}