{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-3 mb-3">
                <div class="card text-white bg-success h-100" >
                    <div class="card-header">
                        <i class="bi bi-file-person-fill"></i></i></i>&nbspPiłkarze
                        <a style='float:right;' class="text-white" href="{{url_for("addft")}}" >
                            <i class="bi bi-plus-lg"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Piłkarzy: {{counts.footballers}}</h5>
                        <p class="card-text">
                        </p>                       
                    </div>
                    <a href="{{url_for("list_of_ft")}}" id="orders_lists" class="nav-link text-white p-0">
                        <div class="card-footer p-3">
                            Przeglądaj Piłkarzy           
                        </div>
                    </a>
                </div>
             </div>

                <div class="col-12 col-sm-6 col-xl-3 mb-3">
                    <div class="card text-white bg-custom-2 h-100" >
                        <div class="card-header">
                            <i class="bi bi-diagram-3-fill"></i>&nbspDrużyny
                            <a style='float:right;' class="text-white" href="{{url_for("addclub")}}" >
                                <i class="bi bi-plus-lg"></i>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Drużyn: {{counts.teams}}</h5>
                            <p class="card-text">
                            </p>                       
                        </div>
                        <a href="{{url_for("list_of_clubs")}}" id="orders_lists" class="nav-link text-white p-0">
                            <div class="card-footer p-3">
                                Przeglądaj Drużyny           
                            </div>
                        </a>
                    </div>
            </div>
                
            <div class="col-12 col-sm-6 col-xl-3 mb-3">
                <div class="card text-white bg-custom-3 h-100" >
                    <div class="card-header">
                        <i class="bi bi-award"></i></i>&nbspLigi
                        <a style='float:right;' class="text-white" href="{{url_for("addleague")}}" >
                            <i class="bi bi-plus-lg"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Lig: {{counts.league}}</h5>
                        <p class="card-text">
                        </p>                       
                    </div>
                    <a href="{{url_for("list_of_leagues")}}" id="orders_lists" class="nav-link text-white p-0">
                        <div class="card-footer p-3">
                            Przeglądaj Ligi           
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-3 mb-3">
                <div class="card text-white bg-dark h-100" >
                    <div class="card-header">
                        <i class="bi bi-fan"></i>&nbspRozgrywki
                        <a style='float:right;' class="text-white" href="{{url_for("addgame")}}" >
                            <i class="bi bi-plus-lg"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Rozgrywek: {{counts.games}} </h5>
                        <p class="card-text">
                        </p>                       
                    </div>
                    <a href="{{url_for("list_of_leagues")}}" id="orders_lists" class="nav-link text-white p-0">
                        <div class="card-footer p-3">
                            Przeglądaj rozgrywki        
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock  %}

{% block script %}
    <script>
        document.getElementById('gotoadmain').setAttribute( 'style', 'color:white !important' );
    </script
{% endblock %}