<!-- Navbar -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <!--Sidebar button-->
        <button class="btn btn-dark side-btn mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand fw-bold" href="{{url_for('index')}}" >Grontball</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

        </div>
    </div>
</nav>
<!-- Sidebar -->

<div class="offcanvas offcanvas-start sidecustomcolor text-white sidebar" data-bs-scroll="true" 
    data-bs-backdrop="false" tabindex="-1" id="sidebar" aria-labelledby="offcanvasDarkLabel">
    <div class="offcanvas-body sidebar_body">
        <nav class="navbar-dark">
            <ul class="navbar-nav">
                <li class="my-2">
                    <a id="gotoadmain" class="text-muted small fw-bold text-uppercase text-decoration-none" 
                    href="{{url_for('index')}}">Strona główna</a>
                </li>
                <li class="my-3">
                    <hr class="dropdown divider">
                </li>
                <li>
                    <a class="text-muted small fw-bold text-uppercase text-decoration-none sidebar-link"
                    data-bs-toggle="collapse" href="#ft_collapse" role="button"  aria-controls="ft_collapse" 
                    aria-expanded="false" id="ft_collapse_btn">Piłkarze
                        <span class="bi bi-chevron-right right-icon ms-auto"></span>
                    </a>
                    <div class="collapse" id="ft_collapse">
                        <a  id="ft_lists" class="nav-link text-muted" href="{{url_for('list_of_ft')}}">
                            Lista Piłkarzy
                        </a>
                        <a  class="nav-link text-muted" id="addft" href="{{url_for('addft')}}">
                            Dodawanie Piłkarza
                        </a>
                      
                    </div>
                </li>
                <li class="my-3">
                    <hr class="dropdown divider">
                </li>
                <li>
                    <a class="text-muted small fw-bold text-uppercase text-decoration-none sidebar-link"
                    data-bs-toggle="collapse" href="#club_collapse" role="button" aria-controls="club_collapse" 
                    aria-expanded="false" id="club_collapse_btn">Drużyny
                        <span class="bi bi-chevron-right right-icon ms-auto"></span>
                    </a>
                    <div class="collapse" id="club_collapse">
                        <a  id="club_lists" class="nav-link text-muted" href="{{url_for('list_of_clubs')}}">
                            Lista Drużyn
                        </a>
                        <a  class="nav-link text-muted" id="addclub" href="{{url_for('addclub')}}">
                            Dodawanie Drużyny
                        </a>
                      
                    </div>
                </li>
                <li class="my-3">
                    <hr class="dropdown divider">
                </li>
                <li>
                    <a class="text-muted small fw-bold text-uppercase text-decoration-none sidebar-link"
                    data-bs-toggle="collapse" href="#league_collapse" role="button" aria-controls="league_collapse" 
                    aria-expanded="false" id="league_collapse_btn">Ligi
                        <span class="bi bi-chevron-right right-icon ms-auto"></span>
                    </a>
                    <div class="collapse" id="league_collapse">
                        <a  id="league_lists" class="nav-link text-muted" href="{{url_for('list_of_leagues')}}">
                            Lista lig
                        </a>
                        <a  class="nav-link text-muted" id="addleague" href="{{url_for('addleague')}}">
                            Dodawanie ligi
                        </a>
                      
                    </div>
                </li>

            </ul>
        </nav>
    </div>
</div>